/* import lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); 


h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: 'Lato', sans-serif;
}


