/* Preload Rubik font for better performance */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

.dashboard {
  height: 100%;
  padding: 20px auto;
}

/* h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #f1c40f;
  text-align: center;
  margin: 1rem 0;
} */

/* Added a main container inside body for better structuring and to avoid direct flex properties on body/html */
/* .main-container {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgb(100, 100, 100);
} */

/*.container {
  width: 100%;
  max-width: 1200px;
  margin: auto; 
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); 
  grid-gap: 100px;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}/*

/* .card {
  background-color: #424549;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  margin: 10px; 
} */

/* .card h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
} */

/* hr {
  width: 100%;
  border: 1px solid #424549;
  margin: 1rem 0;
} */

/* .card p {
  font-size: 1.2rem;
  text-align: center;
} */

/* .card button {
  background-color: #f1c40f;
  color: #424549;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
} */

/*make the search bar ontop of the button*/

.filters-dashboard {
  display: flex;
  flex-direction: row;
  background-color: #20487d;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 10px;
}

.search-bar input {
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
}

.search-bar button {
  background-color: #f1c40f;
  color: #000000;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown {
  position: relative;
}
.dropdown button {
  width: 150px;
  padding: 0.75rem 2rem;
}
.dropdown-btn {
  border: 1px solid black;
}
.menu {
  position: absolute;
}
.menu-item button {
  border: 0;
}
.menu-item button:hover {
  background-color: hsl(217, 4%, 44%);
}
/* --------------- DATA ---------------- */
.dashboard .main-container {
  width: 80%;
  margin: 0 auto;
}
.layoff-container {
  padding: 10px 20px;
  border-radius: 10px;
}
.layoff-container h2,
.company-name {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.layoff-container hr {
  width: 100%;
  border: 1px solid #f1c40f;
  margin: 1rem 0;
}

.company-layoff-container {
  color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid white;
}
.company-layoff-container p {
  display: inline-block;
  margin: 0 20px;
}
.company-layoff-container p span {
  color: #f1c40f;
}
