/* Preload Rubik font for better performance */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Corrected to hide horizontal overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

/* Added a main container inside body for better structuring and to avoid direct flex properties on body/html */
.main-container {
    width: 100%; /* Ensures it takes the full width */
    height: 100%; /* Ensures it takes full height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto; /* Simplified for centering */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ensures that cards are centered horizontally */
    align-items: center;
}

.card {
    background-color: #424549;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    margin: 10px; /* Added margin between cards */
}

.card h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}



hr {
    width: 100%;
    border: 1px solid #424549;
    margin: 1rem 0;
}

.card p {
    font-size: 1.2rem;
    text-align: center;
}

.card button {
    background-color: #f1c40f;
    color: #424549;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

/*make the search bar ontop of the button*/

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-direction: column;
}

.search-bar input {
    padding: .75rem;
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
}


.search-bar button {
    background-color: #f1c40f;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1rem;
    ;
}
